.title__profile{
   /* background-image: url(/assets/MHC.JPG);*/
    height: 350px;
    width: 280px;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
}

.experience__img{
    display: flex;
    height: 150px;
    width: 180px;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
}