.academic__img{
     height: 350px;
     width: 280px;
     margin: 0 auto;
     background-position: center;
     background-repeat: no-repeat;
     background-size: auto;
     display: grid;
 }
 
 @media screen and (min-width:768px) {
    .academic__img{
         height: 175px;
         width: 140px;
         margin: 0 auto;
         background-position: center;
         background-repeat: no-repeat;
         background-size: auto;
         justify-content: center;
     }
}

@media screen and (min-width:0) {
    .academic__img{
        display: none;
     }
}